.searchWrapper {
    position: relative;
}

.search {
    width: 250px;
    padding: 10px 30px 10px 10px;
    background-color: #fff;
    border: 2px solid #595956;
    border-radius: 50px;
    cursor: pointer;
}

.searchButton {
    position: absolute;
    right: 6px;
    top: 7px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    height: 26px;
}